<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../vue.2.6.12.js"></script>
</head>
<body>

    <div id="app">
        <c1 sign="+"></c1>
        <c1 sign="-"></c1>
        <c1 sign="*"></c1>
        <c1 sign="/"></c1>

    </div>

    <script>
        let c1={
            template:`
            <div>
                <input type="text" v-model="a">{{sign}}<input type="text" v-model="b">
                <button type="button" @click="compute">=</button>{{result}}
            </div>
            `,
            data(){
                return{
                    a:8,
                    b:4,
                    result:0
                }
            },
            props:["sign"],
            methods:{
                compute() {
                    if(this.sign==="+") this.result=this.a+this.b
                    if(this.sign==="-") this.result=this.a-this.b
                    if(this.sign==="*") this.result=this.a*this.b
                    if(this.sign==="/") this.result=this.a/this.b
                }
            }
        }
        new Vue({
            el:"#app",
            components:{
                c1
            }
        })

    </script>
</body>
</html>