<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../vue.2.6.12.js"></script>
</head>
<body>
    <div id="app">
        <div v-if="user!==null"><!--a=1时，不显示-->
            用户名：{{user.name}}
        </div>
        <div v-if="!(user!=null)">
            数据加载中
        </div>
        <hr>
    </div>

    <script>
        let app = new Vue({
            el:"#app",
            data:{
                user:null
            },
            created(){
                setTimeout(()=>{
                    this.user={name:"test"}
                },2000
                )
            }
        })
    </script>
</body>
</html>